/* footer css */
.App-footer{
  background-color: #0a162d;
  color: white;
  width:100%;
}

a{
  text-decoration: none;
}

.Foot-title{
  font-size: 1.5em;
}

.social_img{
  height:100%;
}

.gplay{
  height:30px;
}

.footer-bottom-section {
    background-color: #0a162d;
    min-width: auto;
    display: inline-block;
    width: 100%;
}

.center-align {
    width: 96%;
    margin: auto;
}

.inline-block {
    display: inline-block !important;
}

.fotter-bottom-links {
    margin-top: 15px;
    margin-bottom: 15px;
}

.contact {
    font-size: 16px;
    color: #b5b5b5;
    padding-bottom: 5px;
    border-bottom: 1px solid #1a3057;
}

.follow_us_block {
    width: 37%;
    padding-left: 18% !important;
    float: right;
    margin-top: 15px;
}

.social_icons {
    padding: 15px 0px 0px 18px;
}

.social_icons .social-icon {
    padding: 15px 10px 10px 0px;
}

.margin_top_10{
  margin-top:10px;
}

.margin_bottom_12{
  margin-bottom: 12px;
}

.padding_top_15{
  padding-top: 15px;
}

.padding_bottom_15{
  padding-bottom: 15px;
}

.color-777576 {
    color: #777576;
    font-size:14px;
}

.associate_login {
    float: right;
    background: #452b5c;
    border: 1px solid #14274b;
    padding: 2px 10px 2px 10px;
    font-size: 14px;
    margin-top: -2px;
    color: #b5b5b5;
}

.companies-logo-footer {
    margin-left: 5px;
    padding: 0px 15px 0px 15px;
}

.padding-right-10{
  padding-right: 10px;
}

.padding-left-10{
  padding-left: 10px;
}

.color-17284e{
  color:#17284e;
}

.margin_right_20{
  margin-right: 20px;
}

.margin_top_30{
  margin-top:30px;
}

.margin-top-15 {
    margin-top: 15px;
}

.width_340{
  width: 340px;
}

.margin_top_20{
  margin-top:20px;
}

.margin_bottom_0{
  margin-bottom:0;
}

.margin_bottom_20{
  margin-bottom: 20px;
}

.margin_top_8{
  margin-top:8px;
}

.pad_bottom_20{
  padding-bottom: 20px;
}

.pad_top_0{
  padding-top: 0px;
}

.footer-last-section {
    background-color: #050f20;
    min-width: auto;
    display: inline-block;
    width: 100%;
}

.client_logos{
    min-width: auto;
    display: inline-block;
    width: 100%;
    background-color: #ffffff;
}

.text-center {
    text-align: center;
}

.font-12 {
    font-size: 12px !important;
}

.site_text{
  display:table-row;
}

.nav-footer-corp {
    color: #D1D1D1;
    font-size: 13px;
}

.copyright-text {
    color: #fff;
    padding: 10px 20px 20px 20px;
}

.mob_alternate{
  display:none !important;
}

.corp-text {
    color: #D1D1D1;
    font-size: 13px;
}
.text-decoration {
    text-decoration: none;
}

/* footer css */

@media (max-width: 800px) {
  .footer-bottom-section {
      min-width: auto;
      width: 100%;
  }
  .center-align {
      width: 100%;
      text-align: justify;
  }
  .follow_us_block {
      width: 100%;
      padding: 1% 2% !important;
      float: inherit;
      margin:auto;
      text-align: center;
  }
  .inline-block.padding_top_15.padding_bottom_15, .client_logos, .contact, .contact.margin_top_10, .gplay, .footer-last-section{
      display:none !important;
  }
  .social_icons {
      padding: 1% 0 0 2%;
  }
  .social_icons .social-icon {
      padding: 1% 3% 1% 3%;
      margin-top:1%;
  }
  .social-icon img{
      height:28px;
  }

  .mob_alternate{
    display:inline-block !important;
  }
}
