.App-header {
  color: white;
}

.header-section{
  background-color: #003399;
  height: 77px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width:100%;
}

.header-section .main-logo img {
    vertical-align: baseline;
    position: absolute;
    top: 10px;
    width: 186px;
    height: 50px;
}

.center-align {
    width: 1250px;
    margin: auto;
    text-align: justify;
}

.inline-block {
    display: inline-block;
}

@media (max-width: 800px) {
  .header-section .main-logo img {
    width: auto;
    height: 30px;
  }
  .header-section {
    min-width: auto;
    height: 53px;
    padding: 0 3%;
    width: 94%;
  }
}
