.App-header {
  color: white;
}

.header-section{
  background-color: #fff;
  min-width: 1250px;
  height: 98px;
  border-bottom: 1px solid #003399;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background: #003399;
}

.apprentice .center-align {
    width: 1250px;
    margin: auto;
}

.inline-block {
    display: inline-block;
}

.margin-top-15 {
    margin-top: 15px;
}
.float-right {
    float: right;
}
.text-center {
    text-align: center;
}

.vertical-align-middle {
    vertical-align: middle;
}
.padding-left-4-percent {
    padding-left: 4%;
}
.text-center {
    text-align: center;
}

.header_links{
  margin-left: 190px;
}

.margin_right_0{
  margin-right: 0;
}

.padding_right_0{
  padding-right: 0;
}

.business_enq_div{
  text-align: center;
  margin-top: 25px;
}

.business_enq{
  padding: 10px 30px 10px 30px;
  cursor: pointer;
}

.register-separation{
  padding-left: 5px;
  padding-right: 5px;
}

.font_14{
  font-size: 14px;
}

.emp-zone-head{
  margin-top: -9px;
  line-height: 3;
}

.service-dropdown-menu{
  margin-top: 29px;
}

.padding_bottom_28{
  padding-bottom: 28px;
}
