.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.top_content{
  /* background-color: #305986; */
  background-color: #626aa0;
  color:white;
}

.custom_form{
  margin-bottom:8rem;
  font-size: large;
  display:flex;
  justify-content: space-around;
  padding: 0 8%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.first_text{
  font-size: 13px;
  padding: 0 8rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.second_text{
  font-size:18px;
  margin-bottom: 2rem;
}

.form-control{
  border-radius: 15px;
  margin-bottom: 5rem;
}

.submit{
  background-color: #218bfd;
  color:white;
  border-color: #218bfd;
}

.result_box{
  width: 50%;
  height: 150px;
  background-color: white;
  box-shadow: 2px 1px 10px 1px lightgrey;
  position: absolute;
  left: 25%;
  margin-top: -14%;
  color: #7A7D80;
  padding: 25px;
  font-size:12px;
}

.result_title{
  font-size:16px;
  font-weight:bold;
}

.result_content{
  display:flex;
  justify-content: space-around;
  padding: 10px 40px;
}

.result_img{
  height:75px;
}

.result_text{
  margin-top:4%;
}

.bottom_content{
  display:flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.content_box{
  width:28%;
  font-size:14px;
}

.box_title{
  font-size: 18px;
  margin-top:14%;
}

.box_img{
  height:60px;
  margin-left:12px;
}

.box_head{
  display:inline-flex;
}

.box_text{
  padding:10px 0;
}
