.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.top_content{
  /* background-color: #305986; */
  background-color: #626aa0;
  color:white;
}

.custom_form{
  margin-bottom:3rem;
  font-size: large;
  display:flex;
  justify-content: space-around;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.first_text{
  font-size: 13px;
  padding: 0 8rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.second_text{
  font-size:18px;
  margin-bottom: 2rem;
}

.form-control{
  border-radius: 15px;
  margin-bottom: 5rem;
}

.submit{
  background-color: #218bfd;
  color:white;
  border-color: #218bfd;
}

.bottom_content{
  display:flex;
  justify-content: space-around;
}

.content_box{
  width:28%;
  font-size:14px;
}

.box_title{
  font-size: 18px;
  margin-top:14%;
}

.box_img{
  height:60px;
  margin-left:12px;
}

.box_head{
  display:inline-flex;
}

.box_text{
  padding:10px 0;
}
